<div class="fix">
    <button class="btn btn-sm btn-primary  mx-4" [routerLink]="['/graphicql']" routerLinkActive="router-link-active">Graphic Ql</button>
    <button class="btn btn-sm btn-primary  mx-4" [routerLink]="['/graphic-With-silckGrid']" routerLinkActive="router-link-active">Graphic With SilckGrid</button>
    <button class="btn btn-sm btn-primary  mx-4" [routerLink]="['/silck-frezo']" routerLinkActive="router-link-active">Silck Frezo</button>
    <button class="btn btn-sm btn-primary  mx-4" [routerLink]="['/feroze-grid']" routerLinkActive="router-link-active"> Frezo grid</button>
    <button class="btn btn-sm btn-primary  mx-4" [routerLink]="['/row-detail']" routerLinkActive="router-link-active"> row Details</button>
    <button class="btn btn-sm btn-primary  mx-4" [routerLink]="['/Parent']" routerLinkActive="router-link-active">Parent Component</button>
    

    
</div>

<router-outlet></router-outlet>