<div class="container">
    <div class="row">
        <div class="col-6">
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Title</label>
          <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.title"  aria-describedby="emailHelp" />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</div>
</div>

  <h3>{{model?.title}}</h3>
  <div class="row">
    <div class="col-3"><label>Assignee:</label> <input class="form-control" [(ngModel)]="model.assignee" /></div>
    <div class="col-3"><label>Reporter:</label> <span>{{model?.reporter}}</span></div>
  </div>

  <div class="row">
    <div class="col-3"><label>Start:</label> <span>{{model?.start | date: 'yyyy-MM-dd'}}</span></div>
    <div class="col-3"><label>Finish:</label> <span>{{model?.finish | date: 'yyyy-MM-dd'}}</span></div>
    <div class="col-2"><label>Effort Driven:</label> <i [class]="model?.effortDriven ? 'fa fa-check' : ''"></i></div>
  </div>


<a (click)="gotToLink('http://localhost:4200/silck-frezo')"><button class="btn btn-primary btn-sm">Goto Link For Details</button></a>

  <br/>
  <br/>
  <br/>
